body {
    background-image: url('../images/background.jpg');
    background-size: cover; 
}


#title {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 3%;
}

#train-table {
    padding: 2%;
}  

 #addTrain-form {
    padding: 2%;
} 

.card {
    margin-bottom: 3%;
}

#cards {
    max-width: 960px;
    margin: auto;
    opacity: 0.85;
}

.jumbotron {
    opacity: 0.8;
}

.card-header {
    background-color: #7792B3;
    color: white;
}